{% extends 'base.html' %}

{% block title %}GCC TP2{% endblock %}
{% block content %}
{% if user.is_authenticated %}
 <h2>GCC TP 2</h2>
 <h2>INGRESO CORRECTO!!!!</h2>
  El usuario {{ user.username }} se ha autenticado correctamente
  <p><a href="{%url 'logout' %}">SALIR</a></p>
{% else %}
  <h2>GCC TP 2</h2>
  <p>NO SE HA LOGUEADO</p>
  <a href="{% url 'login' %}">INGRESAR</a>
{% endif %}
{% endblock %}